/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background-color: #222;
    padding: 1rem;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h3{
    margin-bottom: 2rem;
  }
  .project {
    margin-bottom: 3rem;

  }
  
  .project img {
    max-width: 100%;
  }
  
  form label,
  form input,
  form textarea,
  form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  form button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #444;
  }
  
  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  p{
    text-align: justify;
    margin-top: 2rem;
  }
  .hidden {
    display: none;
}
#readMoreBtn{
  color: blue;

}
.projectimg{
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.imge:hover{
  width: 500px;
}